<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Browser types allow: InternetExplorer,Firefox,Chrome-->
    <add key="Browser" value="InternetExplorer"/>
    <!--Test Enviroments allow: INTE, QA, PRD-->
    <add key="TestEnvironment" value="QA"/>
    <add key="Username" value="mnguyen3%40amaris.com"/>
    <add key="Password" value="Amaris2017"/>
    <add key="Timeout" value="30"/>
  </appSettings>
</configuration>