<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--Specify the section name and class which will read the section-->
    <section name="log4Net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <!--Browser types allow: InternetExplorer,Firefox,Chrome-->
    <add key="Browser" value="Chrome" />
    <!--Test Enviroments allow: Inte, Qa, Production-->
    <add key="TestEnvironment" value="Inte" />
    <add key="Username" value="mnguyen3%40amaris.com" />
    <add key="Password" value="Amaris2017" />
    <add key="Timeout" value="60" />
  </appSettings>


  <specFlow>
    <unitTestProvider name="MsTest"></unitTestProvider>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>

</configuration>