<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Browser types allow: InternetExplorer,Firefox,Chrome-->
    <add key="Browser" value="Chrome"/>
    <!--Test Enviroments allow: Inte, Qa, Production-->
    <add key="TestEnvironment" value="Inte"/>
    <add key="Username" value="mnguyen3%40amaris.com"/>
    <add key="Password" value="Amaris2017"/>
    <add key="Timeout" value="60"/>
  </appSettings>
</configuration>