<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SeleniumFramework.Configurations.FrameworkSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SeleniumFramework.Configurations.FrameworkSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SeleniumFramework.Configurations.FrameworkSetting>
            <setting name="baseURL" serializeAs="String">
                <value>https://inte.amaris.com/TravelAgency/</value>
            </setting>
            <setting name="timeout" serializeAs="String">
                <value>10</value>
            </setting>
        </SeleniumFramework.Configurations.FrameworkSetting>
    </applicationSettings>
    <userSettings>
        <SeleniumFramework.Configurations.FrameworkSetting>
            <setting name="testDataSheetPath" serializeAs="String">
                <value>C:\Users\MNG06\Documents\Visual Studio Code\Amaris\TravelAgencyApp\Data\Data.xlsx</value>
            </setting>
        </SeleniumFramework.Configurations.FrameworkSetting>
    </userSettings>
</configuration>